.idea/*
cke-community.ids 
csv_data/mobile/*
.bundle

db/*.sqlite3*
db/rbin/*
db/schema.rb
dump.rdb

tmp/*
notes/
log/*.log
*.swp
*.DS_Store
*.tar
*.apk
public/stylesheets/*.css
public/system/*
mkmf.log
.rvmrc

public/system
public/mobile_icons
public/javascripts/cache/
public/stylesheets/hacks/
public/stylesheets/registry/
public/javascripts/google_closure_compiler_tmp.js
public/stylesheets/*.css
